.App {
  background-color: #282c34;
  min-height: 100vh
}

.App-header {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  justify-content: center;
  transition: 0.5s;
  min-height: 5vh;

}

.App-header:hover {
  background-color: #15171b;
  transition: 0.3s;
}